@import '../../../theme/variables.scss';


.logoSVG {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.second-screen,
.third-screen,
.fourth-screen,
.fifth-screen {
    display: flex;
    flex-direction: column;
    color: $text-dark;
    width: 100vw;
    height: 100vh;

    .skip-div {
        margin: 4rem 1.5rem 2rem 0;

        .btn-skip {
            font-size: 17px;
            font-weight: 400;
            line-height: 23px;
        }
    }

    .screen-banner {
        min-width: 100%;

        img {
            min-width: 100%;
        }
    }

    .text-title {
        font-size: 25px;
        font-weight: 700;
        line-height: 33px;

    }

    .text_title-span {
        font-size: 17px;
        font-weight: 400;
        line-height: 23px;
        width: 242px;
        margin: 0 auto;
    }
}

.second-screen {
    background-color: $mint-green;

    .skip-div {
        margin: 4rem 1.5rem 2rem 0;
    }
}

.third-screen {
    background-color: $ivory;

    .skip-div {
        margin: 4rem 0 2rem 1.5rem;
    }
}

.fourth-screen {
    background-color: $warm-beige;

    .skip-div {
        margin: 4rem 0 2rem 1.5rem;
    }
}

.fifth-screen {
    background-color: $white;

    .skip-div {
        margin: 4rem 0 2rem 1.5rem;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}