@import '../../../../theme/variables.scss';

.header-container {
    padding: 4rem 1.5rem 2rem 1.5rem;
    display: flex;
    align-items: center;
}

.signIN-title {
    flex: 1;
    text-align: center;

    span {
        font-size: 22px;
        font-weight: 700;
        line-height: 29px;
        color: $text-dark;
    }
}

section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1.5rem 0 1.5rem;
    color: $text-dark;

    .input-from-user {
        display: flex;
        flex-direction: column;

    }

    span {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 1rem;
    }

    input {
        padding: 1rem;
        border: 2px solid $steel-gray;
        border-radius: 10rem;
    }

    .forgot-pass {
        display: flex;
        justify-content: flex-end;

        button {
            font-size: 13px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0px;
            text-align: right;
            padding-top: 10px;
            color: $steel-gray;
        }
    }

    .enter-pass {
        position: relative;

        button {
            position: absolute;
            right: 5%;
            top: 55%;

            span {
                padding: 0;
            }
        }
    }
}

.login-button {
    background-color: $charcoal-gray;
    color: $white;
    padding: 1rem;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;

    span {
        flex: 1;
        font-size: 17px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0px;
        text-align: center;
        padding: 0;
    }

}

.no-account {
    display: flex;
    justify-content: center;
    gap: 5px;
    color: $charcoal-gray;

    p {
        color: $steel-gray;
    }
}

.login-button:active {
    animation: buttonClicked 0.5s;
}

@keyframes buttonClicked {
    0% {
        background-color: $steel-gray;
        transform: scale(1);
    }

    50% {
        background-color: $steel-gray;
        transform: scale(1.1);
    }

    100% {
        background-color: $steel-gray;
        transform: scale(1);
    }
}

.forgot-section,
.email-verification-section,
.otp-section,
.reset-password {
    color: $steel-gray;

    .forgot,
    .OTP {
        display: flex;
        flex-direction: column;
    }

    .input-OTP {
        display: flex;
        justify-content: space-evenly;

        .enterOTP {
            font-size: 24px;
            width: 4rem;
            height: 3rem;
            padding: 0;
            text-align: center;
        }
    }

}

.reset-password {
    color: $text-dark;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;

    .new-password {
        color: $steel-gray;
    }

    .pass-not-strong {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        color: $error-color;
        margin-top: 5px;
    }
}

.nextButtonPostion {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 10%;
}

.password-updated-section {
    width: 100vw;
    height: 100vh;
    background-color: $tertiary-color;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    display: none !important;

    .key-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pop-up-header {
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }

    .password-updated-pop-up {
        background-color: $white;
        border-radius: 1rem;
        padding: 2rem;
    }

    .pop-up-title {
        font-size: 25px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0px;
        text-align: center;
    }

    .pop-up-span {
        font-size: 17px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0px;
        text-align: center;
    }

    .done-btn {
        background-color: $charcoal-gray;
        color: $white;
        padding: 1rem;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        transition: background-color 0.5s;
        width: 100%;
    }

}