<div class="container main-container">
    <header>
        <button class="go-back d-flex align-items-center justify-content-center" (click)="goBack()">
            <img src="../../../../../assets/icons/Go-back.svg" class="img-fluid">
        </button>
        <span>Preferences</span>
    </header>
    <section class="content">
        <div class="toggle-chk-items">
            <div class="toggle-chk-item">
                <img src="../../../../../assets/icons/PushAlerts.svg" class="img-fluid">
                <h4>Push Alerts</h4>
                <div class="checkbox-div d-flex align-items-center">
                    <input type="checkbox" id="PushAlerts" [(ngModel)]="pushAlerts" />
                    <label for="PushAlerts">Toggle</label>
                </div>
            </div>
            <div class="toggle-chk-item">
                <img src="../../../../../assets/icons/DailyAlerts.svg" class="img-fluid">
                <h4>Daily Alerts</h4>
                <div class="checkbox-div d-flex align-items-center">
                    <input type="checkbox" id="DailyAlerts" [(ngModel)]="dailyAlerts" />
                    <label for="DailyAlerts">Toggle</label>
                </div>
            </div>
            <div class="toggle-chk-item">
                <img src="../../../../../assets/icons/Promotions.svg" class="img-fluid">
                <h4>Promotions</h4>
                <div class="checkbox-div d-flex align-items-center">
                    <input type="checkbox" id="Promotions" [(ngModel)]="promotions" />
                    <label for="Promotions">Toggle</label>
                </div>
            </div>
        </div>

        <div>
        </div>
    </section>
</div>