
*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid;
}

html,
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
strong {
    margin: 0;
    padding: 0;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-image: none;
}