@import '../../meditation/src/theme/variables.scss';

*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid;
}

html,
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
strong {
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: normal;
}

li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-image: none;
}


.nextButton {
    background-color: $charcoal-gray;
    color: $white;
    padding: 1rem;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    transition: background-color 0.5s;
    width: 85vw;
    // width: 100%;



    span {
        flex: 1;
        font-size: 17px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0px;
        text-align: center;
        padding: 0;
    }

}

.nextButton:active {
    animation: nextClicked 0.5s;
}

@keyframes nextClicked {
    0% {
        background-color: $steel-gray;
        transform: scale(1);
    }

    50% {
        background-color: $steel-gray;
        transform: scale(1.1);
    }

    100% {
        background-color: $steel-gray;
        transform: scale(1);
    }
}

.app-main {
    position: relative;
}

// app-tabs {
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     right: 0;
// }